@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #a9a9a9;
  /* цвет зоны отслеживания */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #19bd9a;
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.content-main {
  max-width: 1170px;
  height: 100%;
  margin: auto;
}

.content-small {
  max-width: 1030px;
  height: 100%;
  margin: auto;
}

.active-menu {
  border: 2px solid #19bd9a;
  border-radius: 20px;
  padding: 7px 15px;
}

.header {
  position: fixed;
  width: 100%;
  padding: 40px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .heart-num {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header .heart-num ion-icon {
  width: 35px;
  height: 35px;
  color: #fff;
  overflow: visible;
}

.header .heart-num div {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 527px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.header .header-burger {
  display: none;
  z-index: 12;
}

.header .header-burger img {
  width: 40px;
}

.burger-menu {
  display: none;
  padding: 150px 50px;
  position: absolute;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(65%, black));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 65%);
  right: -999px;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.burger-menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.burger-menu ul li {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.active-burger-menu {
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-scroll {
  background-color: rgba(0, 0, 0, 0.477);
  padding: 15px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 5;
}

.main-block {
  position: relative;
  font-family: "Open Sans", sans-serif;
  min-height: 737px;
  height: 100vh;
  background-image: url("../img/main-img.png");
  background-size: cover;
  background-position: center;
}

.main-block .main-block__bg {
  width: 100%;
  min-height: 737px;
  height: 100vh;
  background-color: rgba(62, 62, 62, 0.5);
}

.main-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-height: 737px;
  max-width: 604px;
  margin: auto;
}

.main-block__main-text {
  max-width: 388px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 7px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.main-block__subtitle {
  max-width: 604px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
}

.main-block__scroll-btn {
  display: inline;
  position: absolute;
  bottom: 77px;
  left: calc(50% - 18px);
}

.main-block__scroll-btn button {
  background: transparent;
}

.all-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: center;
  color: #333b46;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.all-subtitle {
  margin: auto;
  max-width: 457px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: center;
  color: #81868e;
}

.green-text {
  font-weight: 700;
  color: #19bd9a;
}

.bold-text {
  font-weight: 700;
}

.about-block .about-first {
  padding-top: 80px;
  min-height: 487px;
}

.about-block .about-first__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.about-block .about-first__title {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: left;
  color: #333b46;
}

.about-block .about-first__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #81868e;
  max-width: 466px;
  margin-top: 49px;
}

.about-block .about-first__btn {
  margin-top: 33px;
  display: inline-block;
  letter-spacing: normal;
  text-align: center;
  padding: 12px 30px;
  border: 1px solid #333b46;
  border-radius: 50px;
}

.about-block .about-first__btn a {
  color: #333b46;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 0.75;
  text-decoration: none;
}

.about-block .about-second {
  min-height: 618px;
  background-color: #eeeeee;
}

.about-block .about-second__inner {
  padding-top: 80px;
}

.about-block .about-second__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 213px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 61px;
}

.about-block .about-second .about-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-block .about-second .about-icon img:last-child {
  position: absolute;
}

.about-block .about-second__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.about-block .about-second .left-text__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #464646;
  margin-bottom: 39px;
}

.about-block .about-second__left-text {
  max-width: 321px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: left;
  color: #81868e;
}

.about-block .about-second__right-text {
  max-width: 515px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #81868e;
}

.about-block__read-more {
  display: none;
  position: fixed;
  top: 200px;
  max-width: 750px;
  margin-left: calc(50% - 400px);
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: #111;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 25px;
  text-align: justify;
  overflow: auto;
  font-size: 20px;
  -webkit-box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  z-index: 10;
}

.about-block__read-more__close {
  display: inline-block;
  top: -20px;
  color: #fff;
  background-color: #111;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.about-block__read-more__title {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: left;
  color: #333b46;
  margin-bottom: 50px;
}

.about-block__read-more__title-small {
  font-style: italic;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 4px;
  text-align: left;
  color: #333b46;
  margin: 20px 0;
}

.about-block__read-more::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

.about-block__read-more::-webkit-scrollbar-track {
  background: #999;
  border-radius: 20px;
  /* цвет зоны отслеживания */
}

.about-block__read-more::-webkit-scrollbar-thumb {
  background-color: #19bd9a;
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
}

.featured-block {
  min-height: 667px;
  padding-top: 80px;
}

.featured-block .content-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 113px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-block__inner {
  padding-top: 61px;
}

.featured-block__img-block {
  min-height: 319px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-block__img {
  position: relative;
  height: 319px;
  overflow: hidden;
  z-index: 1;
  overflow: hidden;
}

.featured-block__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}

.featured-block .img-big {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-block .img-big img {
  display: block;
  min-width: 500px;
}

.featured-block .img-small {
  width: 50%;
}

.featured-block .img-small img {
  min-width: 250px;
}

.featured-block .two-small-img {
  min-width: 500px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-block__img-over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
}

.featured-block__img-over a {
  color: #fff;
}

.featured-block__bottom-block {
  min-height: 113px;
  width: 100%;
  background-color: #19bd9a;
  background-image: url("../img/bottom-notnice-img.png");
}

.featured-block__bottom-block .content-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-block__bottom-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.8px;
  color: #fff;
}

.featured-block__bottom-btn button {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid white; 
  width: 140px;
  height: 37px;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.featured-block__bottom-btn button a {
  color: white;
}

.featured-block__bottom-btn button a:visited {
  color: #fff;
}

.services-block {
  padding-top: 80px;
}

.services-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 70px;
}

.services-block__left-side, .services-block__right-side {
  width: 50%;
}

.services-block__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-block__images {
  width: 53px;
  height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-block .services-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-block .services-icon img {
  cursor: pointer;
}

.services-block .services-icon img:last-child {
  position: absolute;
}

.services-block__left-text {
  margin-left: 44px;
  display: none;
}

.services-block__left-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #464646;
  margin-bottom: 34px;
}

.services-block__left-all-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #81868e;
}

.services-block .p-1 {
  margin-top: 40px;
}

.services-block__digrams {
  height: 100%;
}

.services-block__digramma {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.services-block__digramma .drgm-main .anim-circle {
  -webkit-animation: anim-percatage 2s linear;
          animation: anim-percatage 2s linear;
}

.services-block__digramma .drgm-main svg {
  position: relative;
  width: 125px;
  height: 125px;
}

.services-block__digramma .drgm-main svg circle:last-child {
  position: absolute;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  fill: none;
  stroke: #19bd9a;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dashoffset: var(--rot);
  stroke-dasharray: 377;
}

.services-block__digramma .drgm-main svg circle:first-child {
  position: absolute;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  fill: none;
  stroke: #107861;
  stroke-width: 4;
  stroke-linejoin: round;
}

.services-block__digramma .drgm-main .dgrm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.25px;
  text-align: left;
  color: #81868e;
  z-index: 2;
}

.services-block__digramma .drgm-main .dgrm span {
  position: absolute;
}

.services-block__digramma .drgm-main .dgrm-name {
  display: block;
  width: 100%;
  padding-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.8px;
  text-align: center;
  color: #81868e;
}

.services-block .service-active {
  display: block;
}

.impressed-block {
  background-image: url("../img/impessed-bg.png");
  background-position: center;
  background-size: auto 100%;
}

.impressed-block__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.impressed-block__left {
  width: 50%;
  min-height: 392px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.impressed-block__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: 4px;
  text-align: left;
  color: #f3f3f3;
}

.impressed-block__text {
  margin: 60px 0 34px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: left;
  color: #b2b3b3;
}

.impressed-block__bottom-text {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #b2b3b3;
}

.impressed-block__bottom-text span:first-child {
  font-weight: 600;
}

.impressed-block__bottom-text span:last-child {
  font-weight: normal;
}

.impressed-block__right {
  position: relative;
  width: 50%;
}

.impressed-block__img {
  position: absolute;
  right: 0;
  top: -37px;
}

.impressed-block__company-name {
  color: #fff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  top: 112px;
  left: 137px;
}

.portfolio-block {
  padding-top: 80px;
  background-color: #eeeeee;
}

.portfolio-block .active-portfolio:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #19bd9a;
  margin-left: 15%;
  bottom: -11px;
}

.portfolio-block__menu {
  padding-top: 80px;
}

.portfolio-block__menu ul {
  max-width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.portfolio-block__menu ul li {
  position: relative;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  cursor: pointer;
}

.portfolio-block__inner-main {
  margin-top: 73px;
}

.portfolio-block__inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-block__col {
  max-height: 950px;
  height: 950px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

.portfolio-block__img-block {
  position: relative;
}

.portfolio-block__img-over {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  padding: 10% 40px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.portfolio-block__img-over-title {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 4px;
  text-align: left;
  color: #19bd9a;
  cursor: pointer;
}

.portfolio-block__img-over-title a {
  color: #19bd9a;
}

.portfolio-block__img-over-hr {
  width: 23px;
  height: 1px;
  background-color: #19bd9a;
}

.portfolio-block__img-over-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.6px;
  text-align: left;
  color: #b2b3b3;
}

.portfolio-block__img-over-icons-icon {
  width: 30px;
  height: 30px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-block__img-over-icons-icon img {
  position: absolute;
  cursor: pointer;
}

.portfolio-block__footer {
  background-image: url("../img/portfolio-footer-img.png");
  background-color: #19bd9a;
  width: 100%;
  height: 201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  margin-top: 40px;
}

.portfolio-block__footer .featured-block__bottom-text {
  width: 100%;
  text-align: center;
}

.portfolio-block .active-lilke {
  background-color: red;
  width: 30px;
  height: 30px;
  padding: 9px 8px;
  border-radius: 50%;
}

.portfolio-block .active-chain {
  background-color: #19bd9a;
  width: 30px;
  height: 30px;
  padding: 8.5px 8px;
  border-radius: 50%;
}

.team-block {
  min-height: 771px;
  padding-top: 80px;
}

.team-block__inner {
  margin-top: 62px;
  width: 100%;
}

.team-block__inner-about {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 364px;
  width: 100%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-block__inner-about:nth-child(2) .team-block__lines .line-main:first-child .line:before {
  width: 60%;
}

.team-block__inner-about:nth-child(2) .team-block__lines .line-main:last-child .line:before {
  width: 80%;
}

.team-block__inner-about:nth-child(2) .team-block__lines .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  background-color: #19bd9a;
  height: 4px;
}

.team-block__inner-about:nth-child(3) .team-block__lines .line-main:first-child .line:before {
  width: 90%;
}

.team-block__inner-about:nth-child(3) .team-block__lines .line-main:last-child .line:before {
  width: 85%;
}

.team-block__inner-about:nth-child(3) .team-block__lines .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  background-color: #19bd9a;
  height: 4px;
}

.team-block__about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 43px;
}

.team-block__name {
  position: relative;
  max-width: 275px;
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-block__name:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 42px;
  border-right: 4px solid #19bd9a;
  top: 0;
  right: -43px;
}

.team-block__name .name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: right;
  color: #464646;
}

.team-block__name .job {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.4px;
  text-align: right;
  color: #81868e;
}

.team-block__text-about {
  margin-top: 32px;
  max-width: 370px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: right;
  color: #81868e;
}

.team-block__lines {
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.team-block__lines .line-main {
  max-width: 330px;
}

.team-block__lines .line-main:first-child .line:before {
  width: 80%;
}

.team-block__lines .line-main:last-child .line:before {
  width: 75%;
}

.team-block__lines .line-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 1.6px;
  text-align: right;
  color: #81868e;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-block__lines .line {
  position: relative;
  width: 300px;
  background-color: #e1e4e9;
  height: 4px;
}

.team-block__lines .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  background-color: #19bd9a;
  height: 4px;
}

.contact-block {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
  padding-top: 58px;
  height: 201px;
  width: 100%;
  background-image: url("../img/contact-back.png");
  background-position: center;
  background-size: auto 100%;
  background-color: #000;
}

.contact-block__text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.8px;
  text-align: center;
}

.contact-block__btn {
  padding: 12px 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  margin: 29px auto 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.testim-block {
  padding-top: 80px;
  min-height: 650px;
  padding-bottom: 100px;
  background-color: #eeeeee;
}

.testim-block__inner-main {
  margin-top: 60px;
  position: relative;
  min-height: 316px;
  background-color: #fff;
  padding-bottom: 50px;
}

.testim-block__rewiev {
  padding: 60px 100px 0;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testim-block__rewiev img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.testim-block__right {
  margin-left: 50px;
  max-width: 754px;
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

.testim-block__text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.8px;
  color: #81868e;
}

.testim-block__name-main {
  margin-top: 30px;
  text-transform: uppercase;
}

.testim-block__name {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.64px;
  color: #19bd9a;
}

.testim-block__job {
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: 0.56px;
  color: #464646;
}

.news-block {
  background-image: url("../img/norm-news-bg.png");
  min-height: 691px;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  position: relative;
}

.news-block .news-title,
.news-block .news-subtitle {
  text-align: left;
  margin-left: 0;
}

.news-block .news-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: 4px;
  text-align: left;
  color: #fff;
}

.news-block__main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 103px;
}

.news-block__news-inner {
  max-width: 580px;
  margin-left: 72px;
  display: none;
}

.news-block__news-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #e1e4e9;
}

.news-block__news-author {
  margin: 12px 0 20px 0;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 1.4px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.news-block__news-author .green-text {
  font-weight: 300;
}

.news-block__news-description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  text-align: left;
  color: #464646;
}

.news-block__news-text {
  margin: 60px 0 51px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  line-height: 1.79;
  text-align: left;
  color: #81868e;
}

.news-block__button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b2b3b3;
  background-color: transparent;
}

.news-block .news-ratio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  width: auto;
  margin: 0;
}

.news-block .read-more-news {
  display: none;
  position: fixed;
  top: 200px;
  max-width: 750px;
  width: 100%;
  margin-left: calc(50% - 400px);
  height: 500px;
  background-color: #333;
  color: #111;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 25px;
  text-align: justify;
  overflow: auto;
  font-size: 20px;
  -webkit-box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  z-index: 10;
}

.news-block .read-more-news button {
  display: inline-block;
  top: -20px;
  color: #fff;
  background-color: #111;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.news-block .read-more-news__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #e1e4e9;
}

.news-block .read-more-news__author {
  margin: 12px 0 20px 0;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 1.4px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.news-block .read-more-news__author .green-text {
  font-weight: 300;
}

.news-block .read-more-news__descr {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  text-align: left;
  color: #999;
}

.news-block .read-more-news__text {
  margin: 60px 0 51px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.7px;
  line-height: 1.79;
  text-align: justify;
  color: #fff;
}

.price-block {
  min-height: 638px;
  padding-top: 80px;
  background-color: #eeeeee;
}

.price-block__inner {
  margin-top: 61px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block__price-small {
  overflow: hidden;
  position: relative;
  width: 234px;
  height: 302px;
  background-color: #fff;
  margin: 0 20px 40px;
}

.price-block__front {
  width: 100%;
  height: 100%;
}

.price-block__front-top, .price-block__back-btn {
  width: 234px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #19bd9a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #fff;
}

.price-block__front-num {
  height: 235px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block__front-price {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42.5px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1fbba6;
}

.price-block__front-desc {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #81868e;
}

.price-block__back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.price-block__back-desc {
  padding: 35px 0 0 33px;
  height: 235px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: 0.7px;
  text-align: left;
  color: #81868e;
}

.price-block__back-btn button {
  position: relative;
  background-color: transparent;
  color: #fff;
}

.price-block__back-btn button:after {
  content: "";
  background-image: url("../img/arrow-small-right.png");
  width: 7px;
  height: 12px;
  position: absolute;
  bottom: 2px;
  margin-left: 12px;
}

.subscribe-block {
  min-height: 378px;
  background-image: url("../img/sub-bg.png");
  background-size: cover;
  background-position: center;
}

.subscribe-block__bg {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: rgba(10, 4, 4, 0.8);
  width: 100%;
  height: 100%;
  min-height: 378px;
}

.subscribe-block .subsc-title {
  color: #fff;
}

.subscribe-block .subsc-sub {
  color: #81868e;
}

.subscribe-block__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  margin-top: 61px;
  max-width: 520px;
}

.subscribe-block__adress {
  margin-bottom: 20px;
  max-width: 358px;
  width: 358px;
  height: 41px;
  padding-left: 23px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.14px;
  color: #cfd3d4;
}

.subscribe-block__button {
  width: 151px;
  height: 41px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.14px;
  text-align: center;
  color: #fff;
  background-color: #19bd9a;
}

.contact-big-block {
  overflow-x: hidden;
}

.contact-big-block .content-small {
  max-width: 940px;
}

.contact-big-block__top {
  padding-top: 80px;
  background-color: #eeeeee;
  min-height: 608px;
}

.contact-big-block__top-inner {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-big-block__small {
  max-width: 287px;
  width: 287px;
  height: 272px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-big-block__small img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-big-block__small:hover {
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.contact-big-block__small:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contact-big-block__small-top {
  width: 100%;
  height: 145px;
  background-image: url("../img/cont-bg-1.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-big-block__small-bottom {
  height: 127px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  text-transform: uppercase;
}

.contact-big-block__small-bottom-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.64px;
  text-align: center;
  color: #464646;
}

.contact-big-block__small-bottom-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.7px;
  text-align: center;
  color: #81868e;
}

.contact-big-block__bottom {
  min-height: 552px;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 80px;
}

.contact-big-block__bottom-inner textarea {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.14px;
  color: #a9a9a9;
  width: 100%;
  height: 190px;
  border: 2px solid #eeeeee;
  margin-top: 30px;
  resize: none;
}

.contact-big-block__bottom-inner button {
  text-transform: uppercase;
  margin-top: 30px;
  width: 100%;
  height: 53px;
  background-color: #19bd9a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.16px;
  color: #fff;
}

.contact-big-block__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-big-block__inputs input {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.14px;
  color: #a9a9a9;
  max-width: 287px;
  width: 287px;
  height: 41px;
  display: block;
  border: 2px solid #eeeeee;
}

.map-block {
  min-height: 496px;
  position: relative;
}

.map-block__bg {
  position: absolute;
  width: 100%;
  min-height: 496px;
  background-color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-block__bg span {
  position: relative;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
}

.map-block__bg span::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/map-arrow.png");
  position: absolute;
  right: -35px;
  bottom: 0;
}

.map-block__map {
  width: 100%;
  min-height: 496px;
}

.footer {
  height: 290px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.footer__logo {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: left;
  color: #323a45;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  color: #81868e;
}

.footer__img {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active-block {
  display: block;
}

.active-price {
  display: block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ratio {
  width: 50px;
  margin: 61px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ratio input {
  display: none;
}

.ratio label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #19bd9a;
  border-radius: 50%;
}

.ratio .active-label {
  background-color: #19bd9a;
}

.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
}

.scroll-up-btn ion-icon {
  width: 50px;
  height: 50px;
  color: #19bd9a;
}

.submition-main {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 100;
  -webkit-transform: translateY(999px);
          transform: translateY(999px);
  -webkit-animation: none 0.5s ease-in-out;
          animation: none 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.submition-main .submition-of-forma {
  position: relative;
  margin: auto;
  height: 70px;
  width: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 2px #000;
          box-shadow: 0 0 10px 2px #000;
}

.submition-main .submition-of-forma span {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  color: #19bd9a;
}

.submition-main .submition-of-forma ion-icon {
  font-size: 30px;
  -webkit-animation: none 0.1s linear;
          animation: none 0.1s linear;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.submition-main .active-load:before {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #19bd9a;
  -webkit-animation: anim-load 2s linear;
          animation: anim-load 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.submition-main .move-back {
  animation: anim-move-back 0.5s ease-in-out reverse;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.error-main {
  -webkit-transform: translateY(-999px);
          transform: translateY(-999px);
}

.error-main .error-of-forma {
  width: 230px;
}

.error-main .error-of-forma span {
  color: #ff3535;
}

.error-main .error-of-forma:before {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #ff3535;
}

@-webkit-keyframes anim-percatage {
  0% {
    stroke-dashoffset: 377;
  }
  100% {
    stroke-dashoffset: var(--rot);
  }
}

@keyframes anim-percatage {
  0% {
    stroke-dashoffset: 377;
  }
  100% {
    stroke-dashoffset: var(--rot);
  }
}

@-webkit-keyframes anim-load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes anim-load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-tick {
  0% {
    color: #333;
  }
  100% {
    color: #19bd9a;
  }
}

@keyframes anim-tick {
  0% {
    color: #333;
  }
  100% {
    color: #19bd9a;
  }
}

@-webkit-keyframes anim-move {
  0% {
    -webkit-transform: translateY(-999px);
            transform: translateY(-999px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anim-move {
  0% {
    -webkit-transform: translateY(-999px);
            transform: translateY(-999px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes anim-move-back {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-999px);
            transform: translateY(-999px);
  }
}

@keyframes anim-move-back {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-999px);
            transform: translateY(-999px);
  }
}

@media (max-width: 1190px) {
  .content-main {
    padding: 0 50px;
  }
  .portfolio-block__inner-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .portfolio-block__col {
    margin: 0 5px 10px 5px;
  }
}

@media (max-width: 1055px) {
  .content-small {
    width: 100%;
    padding: 0 50px;
  }
  .contact-big-block .content-small {
    max-width: 95%;
  }
  .contact-big-block__top-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-big-block__small {
    margin: 0 20px 40px;
  }
}

@media (max-width: 500px) {
  .contact-big-block__small {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .content-main {
    padding: 0 15px;
  }
  .content-small {
    padding: 0 15px;
  }
  .header .header-burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header .burger-menu {
    display: block;
  }
  .main-block__main-text {
    width: auto;
  }
  .main-block__subtitle {
    width: auto;
  }
  .news-block__main-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-block__news-inner {
    margin-left: 0;
  }
  .news-block .news-ratio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: 50px;
    margin: 60px auto 0;
  }
  .about-block__read-more {
    width: 95%;
    margin-left: 2.5%;
    letter-spacing: 0px;
    height: 90vh;
    top: 5vh;
  }
  .news-block .read-more-news {
    width: 95%;
    margin-left: 2.5%;
    letter-spacing: 0px;
    height: 90vh;
    top: 5vh;
  }
}

@media (max-width: 324px) {
  .main-block .main-block__bg {
    padding-bottom: 200px;
  }
}

@media (max-width: 373px) {
  .main-block__subtitle {
    display: none;
  }
}

@media (max-width: 780px) {
  .about-block .about-first {
    padding-top: 80px;
  }
  .about-block .about-first__inner {
    padding-bottom: 50px;
  }
  .about-block .about-first__img {
    margin-bottom: 20px;
  }
}

@media (max-width: 935px) {
  .about-block .about-second .left-text__title {
    text-align: center;
  }
  .about-block .about-second__right-text {
    margin: 50px 0;
  }
  .services-block__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-block__left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 800px;
    min-width: 467px;
  }
  .services-block__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services-block__left-text {
    margin: 0;
    padding: 0 20px;
  }
  .services-block__left-text p {
    text-align: justify;
  }
  .services-block__right-side {
    margin-top: 50px;
    min-width: 467px;
    width: 800px;
  }
  .services-block__digramma {
    padding: 0;
  }
  .impressed-block__left {
    width: 100%;
  }
  .impressed-block__right {
    display: none;
  }
  .testim-block__rewiev {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
}

@media (max-width: 467px) {
  .services-block__left-side {
    min-width: 250px;
  }
  .services-block__right-side {
    min-width: 250px;
  }
}

@media (max-width: 1000px) {
  .contact-big-block__bottom {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .contact-big-block__bottom-inner textarea {
    width: 100%;
    height: 190px;
    border: 2px solid #eeeeee;
    margin-top: 30px;
    resize: none;
  }
  .contact-big-block__bottom-inner button {
    text-transform: uppercase;
    margin-top: 30px;
    width: 100%;
    height: 53px;
    background-color: #19bd9a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.16px;
    color: #fff;
  }
  .contact-big-block__inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-big-block__inputs input {
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .featured-block__img-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .featured-block .img-small {
    width: 337px;
    min-width: 250px;
  }
  .featured-block .two-small-img {
    width: 674px;
  }
  .featured-block__bottom-text {
    margin: 15px 0;
    text-align: center;
  }
  .featured-block__bottom-btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .featured-block .two-small-img {
    width: 337px;
    min-width: 250px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured-block__bottom-text {
    margin: 15px 0;
    text-align: center;
  }
  .featured-block__bottom-btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .services-block__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-block__left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 800px;
    min-width: 250px;
  }
  .services-block__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services-block__left-text {
    margin: 0;
    padding: 0 20px;
  }
  .services-block__right-side {
    margin-top: 50px;
    min-width: 250px;
    width: 800px;
  }
  .services-block__digramma {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .drgm-main {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 530px) {
  .portfolio-block__menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-block__menu ul li {
    margin: 20px 10px;
  }
}

@media (max-width: 670px) {
  .team-block {
    padding-bottom: 50px;
  }
  .team-block__inner-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-block__about-right {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }
  .team-block__name:before {
    display: none;
  }
  .team-block__text-about {
    text-align: center;
  }
  .team-block__lines {
    width: 100%;
  }
  .team-block__lines .line-main {
    max-width: 100%;
  }
  .team-block__lines .line {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .testim-block__rewiev {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
  }
  .testim-block__rewiev img {
    display: block;
    margin: auto;
    margin-bottom: 50px;
  }
  .testim-block__right {
    max-width: 100%;
    margin: 0;
  }
  .testim-block__text {
    text-align: justify;
  }
}

@media (max-width: 710px) {
  .about-block .about-first__btn {
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
  }
  .about-block .about-first__subtitle {
    text-align: justify;
  }
}

@media (max-width: 960px) {
  .about-block .about-second__left-text {
    max-width: 100%;
    width: 100%;
    text-align: justify;
  }
  .about-block .about-second__right-text {
    max-width: 100%;
    width: 100%;
    width: 100%;
    text-align: justify;
  }
}

@media (max-width: 538px) {
  .subscribe-block__button {
    width: 100%;
    max-width: 358px;
  }
}
